<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lazybitz.beta.light.player"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application
        android:name="com.deadpixels.light.player.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/DarkTheme" >
        <service android:name="com.deadpixels.light.player.service.MyMusicService" >
        </service>

        <receiver android:name="com.deadpixels.light.player.service.MyBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_EJECT" />
            </intent-filter>
        </receiver>

        <activity
            android:name="org.acra.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Dialog" />
        
        <activity
            android:name="com.deadpixels.light.player.SearchResult"
            android:label="@string/title_activity_search_result"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.deadpixels.light.player.HomeActivity" />
        </activity>
        <activity
            android:name="com.deadpixels.light.player.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.deadpixels.light.player.PlayerHolder"
            android:label="@string/title_activity_empty_holder"
            android:launchMode="singleTask"
            android:parentActivityName="com.deadpixels.light.player.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.deadpixels.light.player.HomeActivity" />
        </activity>
        <activity
            android:name="com.deadpixels.light.player.ArtistBrowser"
            android:label="@string/title_activity_artist_browser"
            android:launchMode="singleTask"
            android:parentActivityName="com.deadpixels.light.player.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.deadpixels.light.player.HomeActivity" />
        </activity>
        <activity
            android:name="com.deadpixels.light.player.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>